


html, body {
  background-image:url('https://photo.jtbc.joins.com/news/jam_photo/202109/27/f39a7df0-ac77-4d05-9893-2d1b382424eb.jpg');
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  font-size: 10;
  font-style: italic;
}

canvas {
  position: absolute;
  left:100px;
  top:100px;
}

.colorChange{
  position:absolute;
  right: 100px;
  top: 100px;
  background-color: bisque;
  border-width: 4px;
  border-style: solid;
  border-color: black;
  width:200px;
  height:100px;
  padding:10px 0px 10px 60px;
}

.yesorno{
  position:fixed;
  right: 100px;
  top: 300px;
  background-color: cornflowerblue;
  border-width: 2px;
  border-style: solid;
  border-color: cornflowerblue;
  width:150px;
  height:100px;
  padding:10px 0px 10px 60px;

}
