html, body{
  height: 100%
}

body,p,h3 {
  margin: 0;
}

.box{
  background-color: lightgray;
  width:120px;
  height: 150px;

  border-width: 1px;
  border-style: solid;
  border-color: red;

  margin: 30px;
  padding: 30px;
}

#special-box{
  background-color: pink;
  position: absolute;
  left: 200px;
  top: 200px;
}
